<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.atishoo.dingtalk.dingtalk_sdk">
    <application>
        <activity
            android:name=".ddauth.DDAuthActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity-alias
            android:name="${applicationId}.ddauth.DDAuthActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:targetActivity="com.atishoo.dingtalk.dingtalk_sdk.ddauth.DDAuthActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity-alias>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
</manifest>
